/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.bg-main {
  height: 100vh;
  background-image: url("/images/background-main.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-private {
  height: 100vh;
  background-color: #e5e7eb;
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.bg-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-white {
  background-color: rgba(255, 255, 255, 1);
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.icon-large {
  font-size: 3rem;
}
.icon-small {
  font-size: 1.5rem;
}
.icon-extra-small {
  font-size: 1.2rem;
}
.z-50 {
  z-index: 50;
}
.z-10 {
  z-index: 10;
}
.relative {
  position: relative;
}
.select-none {
  user-select: none;
}
.cursor-pointer {
  cursor: pointer;
}
#menu__parent a {
  display: flex;
  align-items: center;
}
#menu__parent .menu__parent__mark {
  display: none;
  width: 0.4rem;
  height: 1.25rem;
  border-radius: 10px;
  background-color: #0058e4;
}
#menu__parent .menu__parent__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.8rem;
}
#menu__parent .active {
  display: flex;
  flex-direction: row;
}
#menu__parent .active .menu__parent__mark {
  display: block;
}
#menu__parent .active .menu__parent__text {
  color: #0058e4;
  font-weight: 600;
}
#menu__parent .active .menu__parent__icon {
  color: #0058e4;
}
#menu__child a {
  display: flex;
  align-items: center;
}
#menu__child .menu__child__mark {
  display: none;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #0058e4;
  margin-right: 0.2rem;
}
#menu__child .menu__child__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.8rem;
}
#menu__child .active .menu__child__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.4rem;
}
#menu__child .active .menu__child__mark {
  display: block;
}
#menu__child .active .menu__child__text {
  color: #0058e4;
  font-weight: 600;
}
#menu__child .active .menu__child__icon {
  color: #0058e4;
}
